APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=<APPWRITE_PROJECT_ID>
APPWRITE_API_KEY=<APPWRITE_API_KEY>
APPWRITE_DATABASE_ID=<APPWRITE_DB_NAME>
APPWRITE_TABLE_ID=files
APPWRITE_BUCKET_ID=user-files